* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 50px;
}

section {
    display: block;
    float: left;
    margin: 1%;
    width: 30%;
    background-color: burlywood;
    height: 180px;
    border: 1px solid black;
    padding-bottom: 10px;
    border-spacing: 10px;
    border-collapse: separate;
    margin-bottom: 10px;
}

p {
    border: 1px solid burlywood;
    background-color: burlywood;
    width: 100%;
    height: 150px;
    margin-right: 2px;
    margin-left: 2px;
    font-family: Helvetica;
    color: black;
    text-align: left;
  }

h2 {
    background-color: pink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid black;
    text-align: center;
    width: 50%;
    position: relative;
    bottom:11%;
    left: 50%;
}

.row {
    width: 100%;
  }

/* div#container {
    background-color: #00FFFF;
    position: relative;
    top: 60px;
  } */

.row > div {
    border: 1px solid black; 
    background-color: grey; 
    text-align: right;}

/* Large Devices */

@media (min-width: 1200px) {
    .col-lg-4 {float: left; border: 1px black; width: 30%;}

}

/* Medium Devices */

@media (min-width: 992px) and (max-width: 1199px) {
    .col-md-6, .col-md-6 {float: left; border: 1px black; width: 48%;}
    .col-md-12 {float: left; border: 1px black; width: 98%;}
    
}

/* Small Devices */

@media (max-width: 991px) {
    .col-sm-12, .col-sm-12, .col-sm-12 {float: left; border: 1px black; width: 100%;padding-bottom: 10px;}
    
}